<nav class="navbar" id="navbar">
    <div *ngIf="isLoggedIn" class="sidebar-button">
        <i class='bx bx-menu' (click)="toggleSidebar()"></i>
        <span class="dashboard" id="dashboard">{{title}}</span>
    </div>
    <!--
    <div *ngIf="isLoggedIn" class="search-box">
        <input type="text" placeholder="Search...">
        <a [routerLink]="'/inventory'"><i class="bx bx-search"></i></a>
    </div>
    -->
    <div *ngIf="isLoggedIn" class="profile-details">
        <div class="profile-pic-wrapper">
            <img *ngIf="avatar.length>0" src="" alt="" srcset="">
        </div>
        <span class="admin_name">{{name |titlecase}}</span>
        <i class='bx bxs-chevron-down' (click)="toggle()"></i>
            <div *ngIf="showDropdown" class="dropdown-content">
                <ul class="navbar-nav navbar-collapse justify-content-end">
                    <li>
                        <a *ngIf="isLoggedIn" [routerLink]="['/login']" class="nav-link" (click)=logout()>Logout</a>
                    </li>
                </ul>
            </div>
    </div>
</nav>